<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>moviewiz</title>
  <link rel="stylesheet" type="text/css" href="../css/fontawesome-all.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css" />
  </head>
<body>
  <div class="container">
    <div class="nav flex flexrow">
      <div class="logo"><a href="/browse" id="home">moviewiz</a></div>
      <div class="flex flexrow">
        <div class="flex flexcol">
        <form method="POST" action="/search">
          <select name="category">
            <option value="title">Title</option>
            <option value="director">Director</option>
            <option value="actor">Actor</option>
            <option value="genre">Genre</option>
            <option value="year">Year</option>
          </select>
          <input class="searchbar" name="field" type="text"/>
          <button type="submit" class='search-btn'><i class="fas fa-search"></i></button>
        </form>
        <div class="advsearch"><a href="/advanced" id="advsearch">advanced search</a></div>
      </div>  
      <button class='logout'><a href='/logout'><i class="fas fa-sign-out-alt"></i></a></button>
      </div>
    </div>
    <div class="browse-container">
      <div class="title">Recommended for You</div>
      <button class="bing"><a href="/bing">Click here to see a list of movies adapted from books!</a></button>
      <div class="list"></div>
    </div>
  </div>
</body>
</html>