<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>moviewiz</title>
  <link rel="stylesheet" type="text/css" href="../css/fontawesome-all.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css" />
  <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
  </head>
<body>
    <div class="container">
        <div class="nav flex flexrow">
          <div class="logo"><a href="/browse" id="home">moviewiz</a></div>
            <div class="flex flexrow">
            <div class="flex flexcol">
            <form method="POST" action="/search">
              <select name="category">
                <option value="title">Title</option>
                <option value="director">Director</option>
                <option value="actor">Actor</option>
                <option value="genre">Genre</option>
                <option value="year">Year</option>
              </select>
              <input class="searchbar" name="field" type="text"/>
              <button type="submit" class='search-btn'><i class="fas fa-search"></i></button>
            </form>
            <div class="advsearch"><a href="/advanced" id="advsearch">advanced search</a></div>
          </div>  
          <button class='logout'><a href='/logout'><i class="fas fa-sign-out-alt"></i></a></button>
          </div>
        </div>
      <div class="title">Search Results</div>
    <div class="search-container">
      <div class="search-list flex flexrow"></div>
    </div>
  </div>

  <script>
    var images = {};
    var imagesReq = $.getJSON('https://raw.githubusercontent.com/megpaik/cis450/master/data/movieimages.json?token=Aa3wMltvfH6DuATefEyIZ24HI8orcAl4ks5a6PzewA%3D%3D', (json) => {
      images = json;
      render(images);
    });
  
    function render(images) {
      const results = <%-JSON.stringify(result)%>;
      // tconst, movielensid, primary title, start year, runtime in minutes
      var headers = results.metaData;
      // array of arrays - inner array is [tconst, id, title, year, runtime]
      var data = results.rows;
      console.log(headers);
      console.log(data);
      for (var i = 0; i < data.length; i++) {
        addToPage(headers, data[i]);
      }
    }

    function addToPage(headers, arr) {
      console.log(arr);
      var titleindex = 0;
      var tconstindex = 0;
      for (var i = 0; i < headers.length; i++) {
        if (headers[i].name == 'TCONST') tconstindex = i;
        if (headers[i].name == 'PRIMARYTITLE') titleindex = i;
        if (headers[i].name == 'STARTYEAR') yearindex = i;
        if (headers[i].name == 'RUNTIMEMINUTES') timeindex = i;
      }
      var title = arr[titleindex];
      var year = arr[yearindex];
      var time = arr[timeindex];
      var div = '<div class="search-item" id="' + arr[tconstindex] + '"></div>';
      $(".search-list").append(div);
      $('#'+arr[tconstindex]).append('<div class="search-item-title">' + toTitleCase(arr[titleindex]) + '</div>')
      $('#'+arr[tconstindex]).css('background-image', "url(" + getimgURL(arr[tconstindex]) + ")");
      $('#'+arr[tconstindex]).append('<div class="movie-info"> Year: ' + year + '<br> Runtime: ' + time +  '</div>');
    }

    function toTitleCase(str) {
      return str.replace(/\w\S*/g, function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      });
    }

    function getimgURL(id) {
      for (var i = 0; i < images.length; i++) {
        if (images[i].tconst == id) return images[i].url;
      }
      return null;
    }
</script>
</body>
</html>