<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>moviewiz</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css" />
  </head>
<body>
  <div class="container">
    <div class="header">moviewiz</div>
    <form action="/search">
      <input class="searchbar" type="text"/>
      <input type="submit" Value="Search">
    </form>
    <div class="browse-body">
      This is the search page. This should render the results of the naive search
    </div>
  </div>
</body>
</html>