@import url('https://fonts.googleapis.com/css?family=Poiret+One|Arimo');

:root {
  --primary: #3E2F5B;
  --secondary: #261132;
  --accent: #E6AF2E;
  --highlight: #e0e2db;
  --shadow: #191716;
}

html, body {
  height: 100%;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  background-color: var(--secondary);
  color: var(--highlight);
}

.flex {
  display: flex;
}

.flexcol {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-container {
  height: 100%;
}
.header {
  font-family: 'Poiret One', cursive;
  font-size: 6em;
}
#blurb {
  letter-spacing: 0.1em;
}
.login-container {
  font-family: 'Arimo', sans-serif;
  width:40%;
  padding-top: 2em;
}
.login {
  background: rgba(224, 226, 219, 0.5);
  border: none;
  padding: 0.7em 2em;
  margin: 0.5em;
  color: var(--highlight);
  font-family: 'Arimo', sans-serif;
  border-radius: 1em;
  width: 60%;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--highlight);
  font-family: 'Arimo', sans-serif;
}
button {
  border: none;
  cursor: pointer;
}
.btn {
  background-color: var(--accent);
  border-radius: 1em;
  padding: 0.7em 2em;
  margin: 0.5em;
  color: var(--highlight);
  width: 70%;
  margin-top: 1em;
  font-family: 'Arimo', sans-serif;
  cursor: pointer;
}
.search-btn {
  border:none;
  background-color: rgba(0,0,0,0);
  color: var(--highlight);
  font-size: 1.3em;
}
input:focus, button:focus, select:focus {
  outline: 0;
}
.nav {
  width: 100%;
  justify-content: space-between;
}
.searchbar {
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: var(--highlight) 0.1em solid;
  color: var(--highlight);
  margin: 0.8em;
  margin-right: 0em;
  margin-bottom: 0.4em;
  font-family: 'Arimo', sans-serif;
}
.logo {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  font-weight: bold;
  padding-left: 0.5em;
}
.title {
  font-size: 3em;
  font-weight: bold;
  text-align: left;
  padding: 0.8em 1em;
}
select {
  font-family: 'Arimo', sans-serif;
  background-color: rgba(224, 226, 219, 0.5);
  color: var(--highlight);
  border: none;
  padding: 0.2em;
  border-radius: 0.2em;
}
option {
  background-color: rgba(224, 226, 219, 0.5);
  color: var(--primary);
  font-family: 'Arimo', sans-serif;
}
.logout {
  background-color: rgba(0,0,0,0);
  font-size: 1.3em;
  color: var(--accent);
  padding-left: 1em;
  margin-bottom: 0.1em;
}
a {
  color: var(--highlight);
  padding-bottom: 0.1em;
}
a#register, a#index {
  color: rgba(224, 226, 219, 0.5);
  cursor: pointer;
  text-decoration: none;
  margin-top: 1em;
}
a#advsearch {
  color: rgba(230, 175, 46, 0.8);
  font-size: 0.8em;
  margin-left: 4em;
  text-decoration: none;
}
#warning {
  font-size: 1.64em;
  padding-left: 1.7em;
  margin-bottom: 1em;
}

.adv-search {
  text-align: left;
  align-items: left;
}

#adv-form {
  padding-left: 2.8em;
}

.field {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}
.search-container {
  height: 100%;
}
.search-list {
  width: 90%;
  padding-left: 3em;
  height: 100%;
  flex-wrap: wrap;
}
.search-item {
  width: 10em;
  height: 10em;
  background-size: auto 10em;
  background-position: center;
  background-repeat: no-repeat;  
  padding: 0.7em;
  margin-bottom: 4em;
}
.search-item-title {
  margin-top: 11em;
}
#home {
  text-decoration: none;
}
.bing {
  align-self: left;
  background-color: var(--accent);
  color: var(--shadow);
  padding: 0.8em;
  font-family: 'Arimo', sans-serif;
  border-radius: 2em;
  font-size: 1em;
}
.bing > a {
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
}
.movie-info {
  width: 10em;
  height: 10em; 
  padding: 0.7em;
  margin-bottom: 4em;
  font-size: 1em;
  background-color: var(--primary);
  border-radius: 1em;

}
.active {
  visibility: inherit;
}